*
!.editorconfig
!.gitattributes
!.github
!.github/*
!.github/**
!.gitignore
!.snakemake-workflow-catalog.yml
!.tests
!.tests/integration
!.tests/integration/config
!.tests/integration/config/*
!.tests/integration/data
!.tests/integration/data/*
!CITATION.cff
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!README.md
!config
!config/*
!images
!images/*
!workflow
!workflow/*
!workflow/**
